<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="'dialog'"
    [mode]="'over'"
    >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Stardew Valley Checklist</span>
    </mat-toolbar>
    <mat-tab-group>
      <mat-tab label="Items"><app-item-list></app-item-list></mat-tab>
      <mat-tab label="Bundles"><app-bundle-list></app-bundle-list></mat-tab>
      <mat-tab label="Rooms">Content 2</mat-tab>
      <mat-tab label="Seasons">Content 2</mat-tab>
      <mat-tab label="Skills">Content 2</mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
