<div>
  <app-bundle-filter-toolbar
      [bundleFilters]="bundleFilters$"
      (bundleFiltersChange)="onBundleFiltersChange($event)">
  </app-bundle-filter-toolbar>

  Results: {{(filteredBundles$ | async).length}}
  <mat-card class="item-card" *ngFor="let bundle of filteredBundles$ | async">
    <mat-card-header class="dark">
      <mat-card-title>{{bundle.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      Reward: <br />
      <div class="container">
        <mat-chip>{{bundle.reward}}</mat-chip>
      </div>
      <mat-divider></mat-divider>
      <div class="container">
        <div>
            Items Available: <br />
            <mat-chip>{{getBundleItems(bundle.id).length}}</mat-chip>
        </div>
        <span class="example-spacer"></span>
        <div>
            Items Required: <br />
            <mat-chip>{{bundle.items_required}}</mat-chip>
        </div>
        <span class="example-spacer"></span>
        <!-- <div style="padding-top:7px;">
          <button mat-button color=primary>Check All</button>
        </div> -->
      </div>
      <mat-divider></mat-divider>
      Room: <br />
      <div class="container">
        <mat-chip>{{getRoomName(bundle.room)}}</mat-chip>
      </div>
      <mat-divider></mat-divider>
      <!-- <div class="container" style="padding-top:24px">
        <button mat-button>Show Items</button>
        <span class="example-spacer"></span>
      </div> -->
    </mat-card-content>
  </mat-card>
</div>

