<mat-toolbar color="accent">
  <mat-toolbar-row style="height:38px;">
    Bundle Filters <button mat-button color="warn" (click)="resetBundleFilters()">Reset All</button>
    <mat-chip-list>
      <app-bundle-filter-chip
          [bundleFilters]="bundleFilters"
          (bundleFiltersClear)="resetBundleFilters()">
      </app-bundle-filter-chip>
    </mat-chip-list>
  </mat-toolbar-row>
  <mat-toolbar-row style="height:150px;">

      <div class="container" style="overflow-x: auto">
        <mat-form-field class="search-input">
          <input matInput type="text"
              #nameSearchInput
              [value]="bundleFilters?.nameSearchString"
              placeholder="Search Name..."
              (keyup.enter)="onNameSearchEnter($event)"/>
          <button mat-button 
              *ngIf="nameSearchInput.value.length > 0" 
              matSuffix mat-icon-button aria-label="Clear" (click)="onNameSearchClear()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      
        <span class="example-spacer"></span>
      
        <mat-form-field class="search-input">
          <input matInput type="text" placeholder="Search Reward..." 
              #rewardSearchInput
              [value]="bundleFilters?.rewardSearchString"
              (keyup.enter)="onRewardSearchEnter($event)"/>
          <button mat-button 
              *ngIf="rewardSearchInput.value.length > 0" 
              matSuffix mat-icon-button aria-label="Clear" (click)="onRewardSearchClear()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <span class="example-spacer"></span>

        <mat-form-field>
          <mat-select placeholder="Room" 
              [value]="bundleFilters?.selectedRoom"
              (selectionChange)="onSelectedRoomChange($event.value)">
            <mat-option [value]="undefined">None</mat-option>
            <mat-option *ngFor="let room of availableRooms" 
                [value]="room.id">
              {{room.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

  </mat-toolbar-row>
</mat-toolbar>
