
.item-card {
    max-width: 400px;
    margin-left:auto;
    margin-right:
    auto; margin-top:10px
}

.dark {
    background:#3f51b5;
    color: #fff;
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

.spring {
    background: #76ff03
}
.summer {
    background: #ffc107;
}
.fall {
    background: #8d6e63;
}
.winter {
    background: #9e9e9e;
}