<div class="container">
  <div style="margin-top:24px">
    <mat-slide-toggle
        [checked]="itemSearchFilter.hideChecked"
        (change)="onHideCheckedChanged($event.checked)"
        color="primary">
      Hide Checked
    </mat-slide-toggle>
  </div>

  <span class="example-spacer"></span>

  <mat-form-field class="search-input">
    <input matInput type="text"
        #nameSearchInput
        placeholder="Search Name..." 
        [value]="itemSearchFilter.nameString"
        (keyup.enter)="onNameSearchEnter($event)"/>
    <button mat-button 
        *ngIf="nameSearchInput.value.length > 0" 
        matSuffix mat-icon-button aria-label="Clear" (click)="onNameSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <span class="example-spacer"></span>

  <mat-form-field class="search-input">
    <input matInput type="text"
        #sourceSearchInput
        placeholder="Search Description..."
        [value]="itemSearchFilter.sourceString"
        (keyup.enter)="onSourceSearchEnter($event)"/>
    <button mat-button 
        *ngIf="sourceSearchInput.value.length > 0" 
        matSuffix mat-icon-button aria-label="Clear" (click)="onSourceSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <span class="example-spacer"></span>
</div>