<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="'dialog'"
      [mode]="'over'">

    <mat-toolbar color="primary">Manage Checklists</mat-toolbar>

    <mat-nav-list>
      <div mat-list-item style="text-align: center; margin-bottom:24px;">
          <mat-card style="margin-bottom:24px;">
            <p>
              <strong>{{ (checkedItemsCount$ | async) }}</strong> 
              of <strong>{{ totalItems }}</strong> 
              ({{ (checkedItemsPercent$ | async) }}%) Checked</p>
            <mat-slide-toggle 
                #enableReset
                style="margin-right: 24px;"
                matTooltip="Toggle to enable reset button">
            </mat-slide-toggle>
            <button 
                mat-button color="warn" 
                [disabled]="!enableReset?.checked"
                (click)="resetCheckedItems(); enableReset.checked=false"
                matTooltip="WARNING: Resets current checked items to 0"
                mat-raised-button>
              Reset
            </button>
          </mat-card>
        <mat-form-field style="width: 90%;">
          <input matInput 
              #currentListName
              placeholder="Checklist Name..."
              [value]="checklistName$  | async"
              (keyup.enter)="saveCurrentList(currentListName.value)">
          <mat-hint>Save the current checklist</mat-hint>
          <button mat-button matSuffix
              color="primary"
              (click)="saveCurrentList(currentListName.value)">
            Save
          </button>
        </mat-form-field>
      </div>

      <mat-toolbar>Import</mat-toolbar>

      <div mat-list-item style="text-align: center; margin-bottom:24px;">
        <mat-form-field style="width: 90%;">
          <input matInput 
              #importCode
              placeholder="Enter code here..."
              (keyup.enter)="import()">
          <mat-icon matSuffix>code</mat-icon>
        </mat-form-field>
        <mat-form-field style="width: 90%;">
          <input matInput 
              #importName 
              (keyup.enter)="import()"
              placeholder="Give it a name...">
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint>Unnamed imports will overwrite current list</mat-hint>
        </mat-form-field>
        <button mat-button 
            color="primary"
            (click)="import()">
          Import
        </button>
      </div>

      <mat-toolbar>Export/Load/Delete</mat-toolbar>

      <div mat-list-item style="text-align: center">
        <mat-form-field style="width: 90%">
          <mat-select placeholder="Saved Lists"
              [value]="selectedListName"
              (selectionChange)="onSelectedListNameChange($event.value)">
            <mat-option [value]="undefined">None</mat-option>
            <mat-option [value]="currentChecklistId">
              Current <small>({{(checkedItemsCount$ | async)}}/{{totalItems}})</small>
            </mat-option>
            <mat-option *ngFor="let savedList of savedLists$ | async" 
                [value]="savedList.name">
              {{savedList.name}} <small style="margin:0 24px 0 24px">({{(savedList.checkedItems.length)}}/{{totalItems}})</small>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button 
            color="primary"
            style="margin-bottom: 24px;"
            [disabled]="selectedListName === undefined"
            (click)="export()">
          Export
        </button>
        <button mat-button 
            color="primary"
            style="margin-bottom: 24px;"
            [disabled]="selectedListName === undefined || selectedListName === currentChecklistId"
            (click)="load()">
          Load
        </button>
            <button mat-button 
            color="warn"
            style="margin-bottom: 24px;"
            [disabled]="selectedListName === undefined || selectedListName === currentChecklistId"
            (click)="delete()">
          Delete
        </button>
        <br />
        <mat-card 
            *ngIf="selectedSavedList">
          <mat-card-header>
            <mat-card-title>
              {{ selectedSavedList?.name }}
              <button mat-icon-button (click)="selectedSavedList = undefined">
                <mat-icon>close</mat-icon>
              </button>
            </mat-card-title>
            <mat-card-subtitle>Copy the code below:</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content
              style="background-color:#212121; color:green; font-family:monospace; padding:24px">
            {{ selectedSavedList?.exportString }}
          </mat-card-content>
        </mat-card>
      </div>

      <!-- <mat-toolbar>
        List 
        <button mat-icon-button color="primary" 
            matTooltip="Export" style="padding-left:24px">
          <mat-icon>open_in_browser</mat-icon>
        </button>
        <button mat-icon-button color="primary" 
            matTooltip="Load" style="padding-left:24px">
          <mat-icon>hourglass_empty</mat-icon>
        </button>
        <button mat-icon-button color="warn" 
            matTooltip="Delete" style="padding-left:24px">
          <mat-icon>delete</mat-icon>
        </button>        
      </mat-toolbar>

      <div mat-list-item style="text-align: center">
          <mat-list>
            <mat-list-item
                (click)="onSelectedListNameChange(currentChecklistId)"
                matTooltip="This isn't actually saved, but serves as a placeholder for your current list">
                <h4 mat-line>
                  Current <small style="margin:0 24px 0 24px">({{(checkedItemsCount$ | async)}}/{{totalItems}})</small>
                </h4>
            </mat-list-item>
            <mat-list-item 
                *ngFor="let savedList of savedLists$ | async"
                (click)="onSelectedListNameChange(savedList.name)">
                <h4 mat-line>
                  {{savedList.name}}
                  <small style="margin:0 24px 0 24px">({{(savedList.checkedItems.length)}}/{{totalItems}})</small>
                </h4>
            </mat-list-item>
          </mat-list>
      </div> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        Stardew Valley Checklist 
        <small>({{(checkedItemsCount$ | async)}}/{{totalItems}})</small>
      </span>
      <span style="flex: 1 1 auto;"></span>
      <a href="https://www.github.com/wtoldt/stardew-valley-checklist" mat-icon-button>
        <img src="assets/github-circle-white-transparent.svg" />
      </a>
    </mat-toolbar>
    <mat-tab-group [(selectedIndex)]="selectedTabIndex">
      <mat-tab label="Items">
        <app-item-list [checkedItems]="checkedItems$ | async"></app-item-list>
      </mat-tab>
      <mat-tab label="Bundles"><app-bundle-list></app-bundle-list></mat-tab>
      <mat-tab label="Rooms"><app-room-list></app-room-list></mat-tab>
      <mat-tab label="Seasons"><app-season-list></app-season-list></mat-tab>
      <mat-tab label="Skills"><app-skill-list></app-skill-list></mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
