/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.item-card {
  max-width: 450px;
  margin-left:auto;
  margin-right:
  auto; margin-top:10px
}

.dark {
  background:#3f51b5;
  color: #fff;
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

.item-card.mat-card {
  padding: 0;
}

.item-card .mat-card-content {
  padding: 0px 24px 24px 24px;
}

.item-card .mat-card-title {
  padding-top: 24px;
  padding-left: 10px;
}